body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.titulo {
    font-weight: bold;
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px 12px;
}
th {
    background-color: rgb(205, 0, 184);
    color: white;
}

.mover {
        width: 120px;
        height: 120px;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        animation: moverAnim 3s infinite ease-in-out;
    }
 
    .escalar {
        width: 120px;
        height: 120px;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        animation: escalarAnim 3s infinite ease-in-out;
    }
 
    .rotar {
        width: 120px;
        height: 120px;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        animation: rotarAnim 3s infinite linear;
    }
 
    .color {
        width: 120px;
        height: 120px;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        animation: colorAnim 3s infinite ease-in-out;
    }

    #barra {
        padding-top: 15px;
        width: 1900px;
        
    }
 
    /* Keyframes */
    @keyframes moverAnim {
        0% {
            transform: translateX(0);
        }
 
        100% {
            transform: translateX(150px);
        }
    }
 
    @keyframes escalarAnim {
        0% {
            transform: scale(1);
        }
 
        100% {
            transform: scale(1.5);
        }
    }
 
    @keyframes rotarAnim {
        0% {
            transform: rotate(0deg);
        }
 
        100% {
            transform: rotate(360deg);
        }
    }
 
    @keyframes colorAnim {
        0% {
            background-color: rgb(144, 13, 11);
        }
 
        100% {
            background-color: rgb(48, 13, 3);
        }
    }

    .galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* DISPLAY: INLINE */
.inline {
    display: inline-block; 
    width: 120px; 
    height: 120px; 
    margin: 5px; 
    background-size: cover; 
    background-position: center;
}

.img1 { background-image: url("./img/aurora1.jpg"); }
.img2 { background-image: url("./img/aurora2.jpg"); }
.img3 { background-image: url("./img/aurora3.jpg"); }

/* DISPLAY: BLOCK */
.block {
    width: 100%;
    max-width: 500px;
    height: 200px;
    margin: 10px 0;
    background-size: cover;
    background-position: center;
}
.img4 { background-image: url("./img/aurora1.jpg"); }
.img5 { background-image: url("./img/aurora2.jpg"); }
.img6 { background-image: url("./img/aurora3.jpg"); }

/* DISPLAY INLINE-BLOCK */
.inline-block {
    flex: 1 1 120px;
    max-width: 150px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;     
}
.img7 { background-image: url("./img/aurora1.jpg"); }
.img8 { background-image: url("./img/aurora2.jpg"); }
.img9 { background-image: url("./img/aurora3.jpg"); }